@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #0085D0;
}

.title-flip {
  position: relative;
}
.title-flip span {
  position: relative;
  display: inline-block;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}