@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-active {
    animation: collapse-active 1s forwards;
    transition: height;
  }

  @keyframes collapse-active {
    0% {
      max-height: 0px;
    }

    100% {
      max-height: 500px;
    }
  }

  .navbar-inactive {
    animation: collapse-inactive 0.5s forwards;
    animation-delay: 0ms;
    transition-delay: 0ms;
    transition: height;
  }

  @keyframes collapse-inactive {
    0% {
      max-height: 500px;
    }

    100% {
      max-height: 0px;
    }
  }
} 

.bg-primary {
  background-color: #0085D0;
}

.title-flip {
  position: relative;
}
.title-flip span {
  position: relative;
  display: inline-block;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}